body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 10px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
    text-align: center;
}
ul{
    padding-left: 1rem;
    line-height: 1.6;
}
li{
    font-size: 1rem;
    color: brown;
}

.card-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  
}

.card {
  flex: 1 1 280px; 
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: beige;
}


.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.card p {
  flex-grow: 1;
  color: #555;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}


